body {
  background-color: #282c34;
  color: #e7e8ea;
  font-size: 18px;
}
.app {
  padding: 16px;
}
a {
  color: #61dafb;
}
ul {
  list-style: none;
  padding-left: 0;
}
.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px 0;
}
.alt-text {
  font-size: 14px;
  font-family: monospace;
}
.imageButton {
  display: block;
  background: transparent;
  border: 1px solid #e7e8ea;
  width: 200px;
  color: #e7e8ea;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.imageButton:hover {
  background: #e7e8ea;
  color: #282c34;
}